@{
    ViewData["Title"] = "Not Authorized - Pages";
    Layout = null;
}

@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/page-misc.dist.css">
}

@* ************** Content ************** *@
<!-- Not Authorized -->
<div class="container-xxl container-p-y">
  <div class="misc-wrapper">
    <h1 class="mb-2 mx-2">You are not authorized!</h1>
    <p class="mb-4 mx-2">You don’t have permission to access this page. Go Home!!</p>
    <a href="/" class="btn btn-primary">Back to home</a>
    <div class="mt-5">
    </div>
  </div>
</div>
<!-- /Not Authorized -->
